__pycache__/
yolo/TrainingAndTestData/
yolo/debug/
yolo/output/
yolo/dataSet/
yolo/yoloCore/
yolo/TrainingAndTestDataStorage/
yolo/runs/
yolo/yoloSuccessCore/
yolo/TestData/
yolo/testModel/
.git
.idea
test/
.env
*.json
*.xlsx
*.log
教學